* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(-45deg, #c1eff4, #d1e1ff, #c1f4f4, #97aaff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: 'HakgyoansimMulgyeolR';
  src:url('../asset/font/HakgyoansimMulgyeolR.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
header{
  padding: 30px;

  h1{
    display: inline-block;
    margin: 0 auto;
    font-family:'HakgyoansimMulgyeolR';
    font-size: 60px;
    letter-spacing: -.5rem;
    color:#4ba6d0;
  }
}
.con_wrap{
  display: flex;
  justify-content: space-between;
  gap: 1%;
  padding:0 20px 20px ;
.set_wrap{
  flex: 0 1 60%;
}
.beads_wrap{
  flex: 0 1 39%;
  padding: 20px;
  background:url("../asset/image/img_test.jpg") center center;
  border-radius: 20px;
  background-size: cover;
  text-align: center;
}
}


footer{
  font-family:'HakgyoansimMulgyeolR';
  color: #4ba6d0;
  text-align: center;
  p{
    font-size: 12px;
  }
  
}






.beads_wrap {
  width: auto;
  height: auto;
  min-width: 300px;
  min-height: 300px;
}